a {
    text-decoration: none;
    color: white;
}

.header_top {
    padding: 10px 0;
    background-color: #15161D;
    border-bottom: 3px solid #D10024;
}

.search-form input {
    width: 100%;
    max-width: 295px;
    padding: 8px;
    border: none;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
}

#Category {
    width: 100%;
    max-width: 150px;
    padding: 7.5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #E4E7ED;
    border-radius: 20px 0 0 20px;
    font-family: "Montserrat", sans-serif;
}

.btn-primary {
    background-color: #D10024;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0 20px 20px 0;
    padding: 9.5px 25px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 425px) {
    .btn-primary {
        width: 100% !important;
    }
}

@media (max-width: 768px) {

    #Category,
    .search-form input,
    .btn-primary {
        width: 25% !important;
    }

    .header__nav ul {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .search-form {
        align-items: stretch;
    }

    .search-form input {
        width: 50% !important;
        max-width: 100% !important;
    }


    .header__nav ul {
        justify-content: center;
    }
}

.header_bottom {
    padding: 18px 0;
    border-bottom: 2px solid var(--border-color);
    background-color: #fff;
}

.nav-item {
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

.nav-item a {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after {
    width: 100%;
}

.nav-item a.active::after {
    width: 100%;
}

.nav-item a.active {
    color: var(--primary-color);
}

.nav-item:hover::after {
    width: 100%;
}